version: '3'
services:
  product-service:
    build: ./product
    volumes:
      - ./product:/usr/src/app
    ports:
      - 5000:80
  website:
    image: php:apache
    volumes:
      - ./website:/var/www/html
    ports:
      - 50001:8000
    depends_on:
      - product-service
